a {
    text-decoration: none;
    color: var(--cor-bg);
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.2em;
    padding: 18px;
    position: relative;
    margin: 15px;
    transition: 0.3s ease-in;
}

a:hover {
    transform: scale(1.03);
}

.conteudo_links {
    max-width: 500px;
    margin: auto;
}
